torch==2.5.1
torchvision
absl-py
certifi
charset-normalizer
contourpy
cycler
Cython
easydict
einops
filelock
fonttools
fsspec
grpcio
idna
imageio
imgaug
Jinja2
kiwisolver
lazy_loader
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
networkx
numpy<2.0
opencv-python
packaging
pillow
protobuf
psutil
Pygments
pyparsing
python-dateutil
PyYAML
requests
rich
safetensors
scikit-image
scipy
shapely
six
sympy
tensorboard
tensorboard-data-server
thop
tifffile
timm
torch
torchshow
torchvision
tqdm
#triton
typing_extensions
urllib3
Werkzeug
pycocotools
